.example-viewport {
    height: 500px;
    width: 500px;
    border: 1px solid white;
  }
  
  .example-item {
    height: 50px;
  }

  .full-width-table {
    width: 100%;
  }
  
  .wrapper {
    height: 600px;
  }
  
  table {
    width: 100%;
  }

  