<cdk-virtual-scroll-viewport tvsItemSize
                             class="wrapper mat-elevation-z2">

  <table mat-table [dataSource]="dataSource">

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row [ngClass]="element.mac == currentMac ? 'active' : 'non-active'" *matRowDef="let element; columns: displayedColumns;"> element </tr>

    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef>Detail</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click) = "showChart(element)">
          <mat-icon *ngIf="element.mac == currentMac && element.insertion_date == currentDate ">visibility</mat-icon>
          <mat-icon *ngIf="element.mac != currentMac || element.insertion_date != currentDate ">visibility_off</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{element.insertion_date}}</td>
    </ng-container>

    <ng-container matColumnDef="mac">
      <th mat-header-cell *matHeaderCellDef>MAC</th>
      <td mat-cell *matCellDef="let element">{{element.mac}}</td>
    </ng-container>

    <ng-container matColumnDef="x">
      <th mat-header-cell *matHeaderCellDef>X</th>
      <td mat-cell *matCellDef="let element">{{element.x}}</td>
    </ng-container>

    <ng-container matColumnDef="y">
      <th mat-header-cell *matHeaderCellDef>Y</th>
      <td mat-cell *matCellDef="let element">{{element.y}}</td>
    </ng-container>

  </table>

</cdk-virtual-scroll-viewport>