<div class="form-container" *ngIf="current_status == 'on' ; else offBlock">
    <button class="button-box mr24 ml24" mat-raised-button color="primary" (click)="onSubmitStop()">
        <div class="button-box">
        <mat-icon>stop</mat-icon>
        STOP
    </div>
    </button>


    
</div>

<ng-template #offBlock>
    <div class="form-container">
        <button class="mr24 ml24" mat-raised-button color="primary" type="submit" (click)="onSubmitStart()">
            <div class="button-box">
            <mat-icon>play_arrow</mat-icon>
            START
        </div>
        </button>

        
    </div>
</ng-template>