<!-- <div class="flex">
  <div class="flex-item">
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
  <div class="flex-item">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table> -->
    <!--<button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>-->
    <!-- <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button> -->
    <!-- <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
    <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button> -->
  <!-- </div>
</div> -->
<div>
  <mat-checkbox [checked]="reset" (change)="resetChange()"> Reset Data </mat-checkbox>
  <mat-checkbox [checked]="reorder" (change)="reorderChange()"> Cronological Order </mat-checkbox>
</div>

<div *ngIf = "lineChartData.length > 0"style="display: block;">
  <canvas baseChart
    [datasets]="lineChartData"
    [options]="lineChartOptions"
    [labels]="lineChartLabels"
    [chartType]="lineChartType">
  </canvas>
  <!-- <div *ngIf="current_date">
    <button *ngIf="current_date!=start_date" mat-icon-button (click) = "goBackward()">
      <mat-icon>navigate_before</mat-icon>
    </button>
      {{current_date*1000 | date: 'yyyy/MM/dd, HH:mm'}}
    <button *ngIf="current_date!=end_date" mat-icon-button (click) = "goForward()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div> -->
</div>
