<div class="grid-container">
  <div>
    <app-histogram-config (dates)="getDates($event)"></app-histogram-config>
  </div>
    <mat-grid-list cols="3" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards2" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card *ngIf="card.visibility" class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <!--<div>Card Content Here</div>-->
            <app-histogram-chart (deviceDetail) = "getDeviceDetails($event)" [devicesDates] = "devicesDates" (devicesTable) = "getDevicesTable($event)" *ngIf="card.chart"></app-histogram-chart>
            <!--<app-histogram-config (dates)="getDates($event)"*ngIf="card.config"></app-histogram-config>-->
            <app-histogram-details *ngIf="card.details" [deviceId]="deviceIdDetails" [deviceInfo]="deviceInfo"
            [locations]="deviceInfo.locations"></app-histogram-details>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  