<form [formGroup]="configScatterForm" novalidate (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Initial Date</mat-label>
              <input matInput [matDatepicker]="picker"
                    (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <input placeholder="Initial Minute" aria-label="Initial Minute"
            [ngxTimepicker]="darkPicker" readonly>
            <ngx-material-timepicker #darkPicker [theme]="darkTheme"></ngx-material-timepicker>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Final Date</mat-label>
              <input matInput [matDatepicker]="picker"
                    (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <input placeholder="Final Minute" aria-label="Final Minute"
            [ngxTimepicker]="darkPicker" readonly>
            <ngx-material-timepicker #darkPicker [theme]="darkTheme"></ngx-material-timepicker>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="mode">
            <mat-radio-button value="manual-mode">Manual Mode</mat-radio-button>
            <mat-radio-button value="auto-mode">Auto Mode</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
