<form [formGroup]="configScatterForm" novalidate (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col">
          <div>
            <mat-form-field>
              <input (dateInput)="setDate($event.value)" matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker >
              </ngx-mat-datetime-picker>
           </mat-form-field>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <mat-form-field>
              <input (dateInput)="setDate($event.value)" matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker >
              </ngx-mat-datetime-picker>
           </mat-form-field>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="mode">
            <mat-radio-button value="manual-mode">Manual Mode</mat-radio-button>
            <mat-radio-button value="auto-mode">Auto Mode</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
