<form [formGroup]="configScatterForm" novalidate (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col">
          <div>
            <mat-form-field>
              <input (dateInput)="setDate($event.value, 'start_date')" matInput [ngxMatDatetimePicker]="start_picker" placeholder="Choose Start Date">
              <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #start_picker >
              </ngx-mat-datetime-picker>
           </mat-form-field>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <mat-form-field>
              <input (dateInput)="setDate($event.value, 'end_date')" matInput [ngxMatDatetimePicker]="end_picker" placeholder="Choose End Date">
              <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #end_picker >
              </ngx-mat-datetime-picker>
           </mat-form-field>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="mode">
            <mat-radio-button value="manual-mode">Manual Mode</mat-radio-button>
            <mat-radio-button value="auto-mode">Auto Mode</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit" >Submit</button>
</form>
